@media screen and (max-width:800px) {
    .nav_links {
        display: none;
    }

    nav {
        width: 80%;
    }

    nav>button {
        width: auto;
        /* padding: 5px; */
    }

    h1 {
        font-size: 30px !important;
    }

    h4 {
        font-size: 20px !important;
        width: 350px;
        white-space: normal !important;
    }
}